services:
  jekyll:
    image: jekyll/builder:latest
    working_dir: /srv/jekyll
    environment:
      - BUNDLE_GEMFILE=/srv/jekyll/serve/Gemfile
      - JEKYLL_ENV=production
    volumes:
      - ..:/srv/jekyll
      - jekyll_bundle:/usr/local/bundle
      - jekyll_site:/srv/jekyll/_site
      - jekyll_sass_cache:/srv/jekyll/.sass-cache
      - jekyll_jekyll_cache:/srv/jekyll/.jekyll-cache
    ports:
      - "4000:4000"
      - "35729:35729"
    command: >-
      bash -lc "bundle install &&
      bundle exec jekyll serve --host=0.0.0.0 --watch --livereload
      --config /srv/jekyll/serve/_config.yml"

volumes:
  jekyll_bundle:
  jekyll_site:
  jekyll_sass_cache:
  jekyll_jekyll_cache:
